<app-public-navbar></app-public-navbar>
<main class="ml-4 mr-4">
    <div class="breadcrumb mt-5">
        <h1 class="bradcrumb-item">Sobre o SALP!</h1>
    </div>
    <div>

        SALP é um sistema feito para auxiliar no ensinamento da lógica de programação para jovens e interessados no mundo da tecnologia, desenvolvido como Trabalho de Conclusão de Curso no ano de 2020, para o curso de Ciência da Computação, Universidade Paulista
        - Campus Brasília

    </div>
</main>
<app-footer></app-footer>