<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Login</h3>
              </div>
              <div class="card-body">
                <div class="alert alert-danger" *ngIf="loginError">
                  {{ errorMessage }}
                </div>
                <form #loginForm="ngForm" (submit)="onSubmit()">
                  <div class="form-group">
                    <label class="small mb-1" for="inputUser">
                      Usuário
                    </label>
                    <input class="form-control py-4" id="inputUser" type="text" placeholder="Informe Usuário"
                      autocomplete="off" [(ngModel)]="login.user" name="user" />
                  </div>
                  <div class="form-group">
                    <label class="small mb-1" for="inputPassword">Senha</label>
                    <input class="form-control py-4" id="inputPassword" type="password" name="password"
                      placeholder="Insira Senha" autocomplete="off" [(ngModel)]="login.password" />
                  </div>
                  <div class="form-group">
                  </div>
                  <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <span> </span>
                    <button type="submit" class="btn btn-primary">Entrar</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center">
                <div class="small">
                  <a routerLink="/cadastro">Ainda não é cadastrado? Crie uma conta aqui!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <app-footer></app-footer>
</div>
