<div class="container.fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-light mb-3">
                <div class="card">
                    <div class="card-header">
                        <h2>Turmas Públicas</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table">
                            <thead>
                                <tr>
                                    <th scope="col">Ordem Aula</th>
                                    <th scope="col">Professor</th>
                                    <th scope="col">Data/Horário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1°</th>
                                    <td>Otto</td>
                                    <td>Hoje `as 13:00 hrs</td>
                                </tr>
                                <tr>
                                    <th scope="row">2°</th>
                                    <td>Thornton</td>
                                    <td>Amanhã às 15:00 hrs</td>
                                </tr>

                                <tr>
                                    <th scope="row">3°</th>
                                    <td>Larry</td>
                                    <td>25/04/2021</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="float-right">

                <div>
                    <h3>Aulas ao vivo agora</h3>
                    
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2>Próximas Aulas</h2>
                    </div>
                    <div class="card-body">
                        <table class="table table-bordered table">
                            <thead>
                                <tr>
                                    <th scope="col">Ordem Aula</th>
                                    <th scope="col">Professor</th>
                                    <th scope="col">Data/Horário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1°</th>
                                    <td>Otto</td>
                                    <td>Hoje `as 13:00 hrs</td>
                                </tr>
                                <tr>
                                    <th scope="row">2°</th>
                                    <td>Thornton</td>
                                    <td>Amanhã às 15:00 hrs</td>
                                </tr>

                                <tr>
                                    <th scope="row">3°</th>
                                    <td>Larry</td>
                                    <td>25/04/2021</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>