<div class="container.fluid">
    <mat-accordion class="card bg-light mb-1" multi>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header class="card-header">
                <mat-panel-title>
                    Editar informações do Bloco
                </mat-panel-title>
                <mat-panel-description>
                    Clique aqui para {{ panelOpenState ? 'fechar' : 'expandir'}} o formulário de edição de bloco
                </mat-panel-description>
            </mat-expansion-panel-header>

            <form *ngIf="blocoForm" [formGroup]="blocoForm" (submit)="submit()" class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <mat-form-field class="form-field" appearance="outline">
                            <mat-label> Título do bloco
                            </mat-label>
                            <input matInput formControlName="titulo" required>
                            <mat-error *ngIf="blocoForm.controls.titulo.touched && blocoForm.controls.titulo.invalid">
                                <span *ngIf="blocoForm.controls.titulo.errors.required">Campo obrigatório</span>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <span class="float-right">
                        <a (click)="executar()" title="Executar programa">
                            <i class="fa fa-play mr-2" aria-hidden="true" style="cursor: pointer;"></i>
                        </a>
                        <a data-toggle="modal" data-target="#modalSeeCode" title="Ver código gerado">
                            <i class="fa fa-eye" aria-hidden="true" title="Ver código gerado" style="cursor: pointer;"></i>
                        </a>
                      </span>
                    </div>
                </div>
                <div class="row mb-2" style="height: 30rem;">
                    <div class="col-md-12">
                        <ngx-blockly [config]="config" [generatorConfig]="generatorConfig" (javascriptCode)="onCode($event)">
                        </ngx-blockly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button class="float-right ml-3" mat-raised-button color="basic" type="submit" style="background-color: rgb(45, 189, 45);color: white;">Salvar</button>
                        <button class="float-right" (click)="closeEditor()" mat-raised-button color="basic" type="button" style="background-color: red;color: white;">Cancelar</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="row">
        <div class="col-md-12 mt-2">
            <button class="float-right mb-2" mat-button mat-flat-button (click)="newBloco()" color="primary">+ Novo
        Bloco</button>

            <table mat-table [dataSource]="dataSource" matSort #table class="my-table mat-elevation-z8" style="width: 100%;">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                </ng-container>
                <ng-container matColumnDef="Ações">
                    <th mat-header-cell *matHeaderCellDef> Ações </th>
                    <td mat-cell *matCellDef="let element">
                        <a (click)="selectBlock(element)" title="Editar" style="cursor: pointer;"><i class="fas fa-pen"></i></a>
                        <!-- <a title="Deletar" (click)="blocoSelecionado = element" style="cursor: pointer; color: red;" data-toggle="modal" data-target="#deleteBloco"><i class="fas fa-trash"></i></a> -->
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id="deleteBloco" tabindex="-1" aria-labelledby="deleteBlocoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Confirmar exclusão</h1>
                <button type="button" #closebuttondelete class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <h3>Deseja realmente excluir bloco {{ blocoSelecionado.titulo }}?</h3>
                <h4 class="font-weight-bold" style="color: red;"> Esta ação não pode ser desfeita!</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" (click)="deletarBloco()">Confirmar</button>
            </div>
        </div>
    </div>
</div>
 -->

<div class="modal fade" id="modalSeeCode" tabindex="-1" role="dialog" aria-labelledby="modalSeeCode" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="exampleModalLabel">Código Gerado</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <textarea [ngModel]="this.conteudo" disabled style="width: 100%; height: 30rem; max-height: 30rem; min-height: 25rem;">

      </textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>