<h1 class="text-center">Chat</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item" *ngFor="let message of messages">
    <p><span *ngIf="message.toId == undefined" class="badge badge-info mr-2"> (GLOBAL)
      </span>{{ message.fromId == usuario.id ? usuario.nome : toUser.nome }}</p>
    {{message.message}}
  </li>
</ul>
<form class="form-inline mt-2" #messageForm="ngForm" (submit)="sendMessage()">
  <div class="input-group mb-3  w-100" style="margin-right: 1.35rem;">
    <input type="text" class="form-control" placeholder="Digite sua mensagem" name="mensagem" aria-label="mensagem"
      [(ngModel)]="mensagemForm.mensagem" autocomplete="off" aria-describedby="basic-addon2" />
    <div class="input-group-append float-right">
      <button class="btn btn-primary" type="submit"> > </button>
    </div>
  </div>
</form>
