<div class="container.fluid">
  <div class="row justify-content-between">
    <div class="col-md-8" style="height: 43rem; position: relative;">
      <p>{{ leftBlocks == "Infinity" ? '' : 'Blocos restantes ' + leftBlocks }}</p>
      <div id="capture">
        <ngx-blockly [config]="config" [generatorConfig]="generatorConfig" (javascriptCode)="onCode($event)">
        </ngx-blockly>
      </div>
    </div>
    <div class="col-md-3 border" style="right: 1.35rem;">
      <app-chat [toUser]="professor"></app-chat>
    </div>
  </div>
</div>
