<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">S A L P</a>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/sobre">Sobre</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button routerLink="/cadastro" class="btn btn-outline-success my-2 my-sm-0 mx-2" type="button">Cadastrar</button>
      <button routerLink="/login" class="btn btn-outline-success my-2 my-sm-0" type="button">Entrar</button>
    </div>
  </div>
</nav>
