.aula-andamento {
    cursor: pointer;
    text-align: center;
    margin-right: center;
    padding: 1em;
}

.aula-andamento:hover {
    z-index: 4;
    border: 1;
    border-color: orange;
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

h2 {
    text-align: center;
}

ul {
    height: 98%;
    max-height: 38rem;
    padding: 0px;
    margin: 0px;
    text-align: left;
    overflow-y: scroll;
}

.info-prof {
    background-color: #EEEEEE;
    height: 100%;
}
