<h1>Turma</h1>
<div>
    <p>
        <br><input type="text" name="publique" id="publique" placeholder="Publique algo..." class="publicacao">
        <input type="button" value="Limpar">
        <input type="button" value="Enviar">
    </p>
</div>

<div class="alert alert-warning aula-andamento" role="alert">
    EXISTE UMA AULA EM ANDAMENTO CLIQUE AQUI PARA INGRESSAR.
</div>

<div>
    <ul>
        <li>
            <h2 class="nome-publicacao">Nome de quem publicou</h2>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis doloribus sequi, laborum beatae est, cupiditate illum asperiores ut corporis aliquam sint exercitationem ratione eos. Reprehenderit dignissimos nemo veniam eaque suscipit.</P>
        </li>

    </ul>
</div>

<div id="info-lateral">

    <div class="info-prof">
        <p>Info do professor</p>
    </div>


    <div class="listagem-aulas">
        <h2>Próximas Aulas</h2>
    </div>
</div>