
.publicacao{
    width: 200 rem;
    height: 2.5 rem;
    padding: 5 rem;
}


.aula-andamento {
    cursor: pointer;
    text-align: center;
    margin-right: center;
    padding: 1em;
    }
    .aula-andamento:hover {
        z-index: 4;
        border: 1;
        border-color: orange;
        box-shadow: 0 0 20px rgba(33,33,33,.2);
    }

    
    .info-prof{
        background-color: gray;
        margin-bottom:200px ;
    }

 