<div class="container.fluid">
    <div class="row">
        <div class="col-md-9">
            <div class="card bg-light mb-3">
                <div class="card-header">
                    <h1>Turma</h1>
                </div>
                <div class="card-body">

                    <div><br><input type="text" name="publique" id="publique" placeholder="Publique algo..."
                            style="display:flex;margin: auto; padding: 1.1rem; width: 42rem; ">
                    </div>
                    <div>
                        <input type="button" value="Limpar" class="btn btn-info">
                    </div>
                    <div>
                        <input type="button" value="Enviar" class="btn btn-success">
                    </div>

                    <div class="alert alert-warning aula-andamento" role="alert">
                        EXISTE UMA AULA EM ANDAMENTO CLIQUE AQUI PARA INGRESSAR.
                    </div>

                    <div>
                        <ul>
                            <li>
                                <h3>Nome de quem publicou</h3>
                                <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis doloribus
                                    sequi,
                                    laborum
                                    beatae
                                    est, cupiditate illum asperiores ut corporis aliquam sint exercitationem ratione
                                    eos.
                                    Reprehenderit
                                    dignissimos nemo veniam eaque suscipit.</P>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="float-right">

                <div class="info-prof">

                    <p>
                        Info do professor:
                    </p>

                    <p>
                        Info turma:
                    </p>

                </div>

                <div class="card">
                    <div class="card-header">
                        <h2>Próximas Aulas</h2>
                    </div>

                    <div class="card-body">
                        <table class="table table-bordered table">
                            <thead>
                                <tr>
                                    <th scope="col">Ordem Aula</th>
                                    <th scope="col">Professor</th>
                                    <th scope="col">Data/Horário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1°</th>
                                    <td>Otto</td>
                                    <td>Hoje `as 13:00 hrs</td>
                                </tr>
                                <tr>
                                    <th scope="row">2°</th>
                                    <td>Thornton</td>
                                    <td>Amanhã às 15:00 hrs</td>
                                </tr>

                                <tr>
                                    <th scope="row">3°</th>
                                    <td>Larry</td>
                                    <td>25/04/2021</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>